@import "./reset.css";

/* Header */
.header-tab-list {
    background-color: var(--accent-5);
}

.radix-themes {
    background-color: rgb(248, 248, 248);
}

.radix-themes:is(.dark, .dark-theme) {
    background-color: rgb(40, 44, 52);
}